<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %} {% include 'banner.html' %}
    <div class="container">
      <div class="container">
        <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
      </div>
      <p class="lead">Your application for the role {{job['title']}} at {{company_name}} has been submitted!</p>
      <h4>First Name</h4>
      <p>{{application['first_name']}}</p>
      <h4>Last Name</h4>
      <p>{{application['last_name']}}</p>
    </div>
    <div class="container">
      <h4>Email</h4>
      <p>{{application['email']}}</p>
    </div>
    <div class="container">
      <h4>Phone</h4>
      <p>{{application['phone']}}</p>
    </div>
    <div class="container">
      <h4>Education</h4>
      <p>{{application['education']}}</p>
    </div>
    <div class="container">
      <h4>Work Experience</h4>
      <p>{{application['work_experience']}}</p>
    </div>
    <div class="container">
      <h4>LinkedIn URL</h4>
      <p>{{application['linkedin_url']}}</p>
    </div>
    <div class="container">
      <h4>Resume URL</h4>
      <p>{{application['resume_url']}}</p>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
